Flask-SQLAlchemy
qrcode
pandas
Flask  # Adjust to the latest compatible version
Jinja2  # Adjust to the latest compatible version
Werkzeug  # Version that works with the latest Flask
MarkupSafe
